<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Email" version="24.4.0" manuallyInstalled="true" />
  <package id="Google.Apis" version="1.66.0" />
  <package id="Google.Apis.Auth" version="1.66.0" />
  <package id="Google.Apis.Calendar.v3" version="1.66.0.3297" manuallyInstalled="true" />
  <package id="Google.Apis.Core" version="1.66.0" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Formats.Asn1" version="7.0.0" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Cryptography.Pkcs" version="7.0.3" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
</packages>